<h2> Enter a new travel </h2>

<div class=field_with_errors>
  <%= render partial: '/errors', locals: { record: @travel } %>
</div>

<%= form_for @travel do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.submit %>
<% end %>
