<h2> List of all auto companies </h2>
<%=link_to "All", companies_path %>
<%=link_to "Food", companies_food_path %>
<%=link_to "Technology", companies_technology_path %>
<%=link_to "Clothing", companies_clothing_path %>
<%=link_to "Footwear", companies_footwear_path %>
<%=link_to "Auto", companies_auto_path %>
<%=link_to "Drugstore", companies_drugstore_path %>

<%@auto.each.with_index(1) do |comp_auto, index|%>
<p><%=index%>
<p>Name: <%=comp_auto.name%></p>
<p>Location: <%=comp_auto.location%></p>

<p><%comp_auto.offers.each do |offer|%></p>
<p>Offer: <%=offer.description%></p>
<% end %>
<% end %>
