<h2> List of companies with clothing offers </h2>
<h3><%= link_to 'View all current offers', travels_path %></h3>

<%@clothing.each.with_index(1) do |comp_clothing, index|%>
<p><%=index%>
<p>Name: <%=comp_clothing.name%></p>
<p>Location: <%=comp_clothing.location%></p>

<p><%comp_clothing.offers.each do |offer|%></p>
<p>Offer: <%=offer.description%></p>
<% end %>
<% end %>
