<h2> List of companies with footwear offers </h2>
<h3><%= link_to 'View all current offers', travels_path %></h3>

<%@footwear.each.with_index(1) do |comp_footwear, index|%>
<p><%=index%>
<p>Name: <%=comp_footwear.name%></p>
<p>Location: <%=comp_footwear.location%></p>

<p><%comp_footwear.offers.each do |offer|%></p>
<p>Offer: <%=offer.description%></p>
<% end %>
<% end %>
