<h2> List of all your companies </h2>

<h3><%=link_to "All", companies_path %>
<%=link_to "Food", {:controller => "companies", :action => "category", :category => "food" }%>
<%=link_to "Technology", {:controller => "companies", :action => "category", :category => "technology" }%>
<%=link_to "Clothing", {:controller => "companies", :action => "category", :category => "clothing" }%>
<%=link_to "Footwear", {:controller => "companies", :action => "category", :category => "footwear" }%>
<%=link_to "Auto", {:controller => "companies", :action => "category", :category => "auto" }%>
<%=link_to "Drugstore", {:controller => "companies", :action => "category", :category => "drugstore" }%><br><br>
<!-- #link_to "Add a new company and offer", new_company_path <br><br>-->
<%= link_to 'View all current offers', travels_path %></h3>

<% if user_signed_in? %>
  <%= link_to "Add a new company and offer", new_company_path %>
<% end %>


<%@companies.each.with_index(1) do |comp, index|%>
    <h2><%=index%></h2>
  <h2><%="Name: #{comp.name}"%></h2>
  <h3><%="Location: #{comp.location}"%></h3>

  <p><%comp.offers.each do |offer|%></p>
    <h3><%="Offer: #{offer.description}"%></h3>
     <% end %>
<% end %>
