<h2> List of all your companies </h2>

<h3><%=link_to "All", companies_path %>
<%=link_to "Food", companies_food_path %>
<%=link_to "Technology", companies_technology_path %>
<%=link_to "Clothing", companies_clothing_path %>
<%=link_to "Footwear", companies_footwear_path %>
<%=link_to "Auto", companies_auto_path %>
<%=link_to "Drugstore", companies_drugstore_path %><br><br>
<!-- #link_to "Add a new company and offer", new_company_path <br><br>-->
<%= link_to 'View all current offers', travels_path %></h3>

<% if user_signed_in? %>
<%= link_to "Add a new company and offer", new_company_path %>
<% end %>


<%@companies.each.with_index(1) do |comp, index|%>
  <p><%=index%>
  <h2><%="Name: #{comp.name}"%></h2>
  <h3><%="Location: #{comp.location}"%></h3>

  <p><%comp.offers.each do |offer|%></p>
    <h3><%="Offer: #{offer.description}"%></h3>
     <% end %>
<% end %>
