<h2>Route: <%= @travel.name %></h2>
<h2> Enter a new company </h2>

<%= render partial: '/errors', locals: { record: @company } %>


<%= form_for [@travel, @company] do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name %><br>

  <%= f.label :Location %>
  <%= f.text_field :location, value: @travel.name %><br>

  <%= f.label :Category %>
  <%= f.text_field :category %><br>


  <%= f.submit %>
<% end %>
