<h2> Enter a new offer on Route <%= @travel.name %> </h2>

<%= render partial: '/errors', locals: { record: @offer } %>

<%= form_for @offer do |f| %>
  <%= f.label :Offer_Description %>
  <%= f.text_field :description %><br>

  <%= f.fields_for :companies do |comp| %>
  Add a new company: <%= comp.text_field :name %><br>
  Location: <%= comp.text_field :location, value: @travel.name %><br>
  Category: <%= comp.text_field :category %><br>
    <% end %>


  <%= f.hidden_field :travel_id, value: params[:travel_id] %>

  <%= f.submit %>
<% end %>
