<h2> Enter a new offer on Route <%= @travel.name %> </h2>

<div class="field_with_errors">
  <%= render partial: '/errors', locals: { record: @company } %>
</div>
<%= form_for @company do |s| %>
  <div class="form-group">
    <%= s.label :Company_name %>
    <%= s.text_field :name %>
    <%= s.label :location %>
    <%= s.text_field :location %>
    <%= s.label :category %>
    <%= s.text_field :category %>
  </div><br>

  <%= s.fields_for :offers, Offer.new do |e| %>
  <div class="form-group">
    <%= e.label :offer_description %>
    <%= e.text_field :description%>
    <%= e.hidden_field :travel_id, value: @travel %>
    </div><br>
<% end %>
<%= s.submit %>
<% end %>
